.App {
  text-align: center;
}

span {
  width: 40vw;
}

li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1vh 3vw;
  height: 12vh;
}

.true {
  background-color: rgba(0, 255, 0, 0.3);
  border: 1px rgb(100, 100, 100) solid;
}

h1 {
  margin: 1vh;
}

h2,
h3,
h4,
h5,
h6 {
  text-align: left;
  margin-left: 1vw;
}

h2 {
  width: 100%;
}
h6 {
  background-color: rgba(0, 255, 0, 1);
  width: 7%;
  text-align: center;
  position: relative;
  top: -3px;
}

.fecha {
  background-color: chocolate;
  width: 11%;
  text-align: left;
  position: relative;
  top: 0;
}