.App {
  text-align: center;
}

.imag {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  left: 24vw;
}

h1 {
  margin: 1vh;
}

img {
  width: 40px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}